<section class="about-us" id="about-us" >
  <h2 class="about-us-title">about us</h1>
  <p class="about-us-desc">This little wandering journey, without settled place of abode.</p>

  <article class="social-items">
    <div class="item-facebook">
      <div class="img-wrapper">
        <img src="/public/src/img/facebook.png" alt="facebook">
      </div>
      <div class="figure-wrapper">
        <p class="count">21,741</p>
        <p class="unit">Likes</p>
      </div>
    </div>
    
    <div class="item-twitter">
      <div class="img-wrapper">
        <img src="/public/src/img/twitter.png" alt="twitter">
      </div>
      <div class="figure-wrapper">
        <p class="count">7,852</p>
        <p class="unit">Followers</p>
      </div>
    </div>

    <div class="item-linkedin">
      <div class="img-wrapper">
        <img src="/public/src/img/linked-in.png" alt="linked-in">
      </div>
      <div class="figure-wrapper">
        <p class="count">457</p>
        <p class="unit">Completed <br> Projects</p>
      </div>
    </div>

    <div class="item-dribbble">
      <div class="img-wrapper">
        <img src="/public/src/img/dribbble.png" alt="dribbble">
      </div>
      <div class="figure-wrapper">
        <p class="count">733</p>
        <p class="unit">Shots</p>
      </div>
    </div>
  </article>

  <section class="insta-items">
    <div class="insta-item01"><img src="/public/src/img/insta-item1.png" alt="insta-item01"></div>
    <div class="insta-item02"><img src="/public/src/img/insta-item2.png" alt="insta-item02"></div>
    <div class="insta-item03"><img src="/public/src/img/insta-item3.png" alt="insta-item03"></div>
    <article class="insta-follow">
      <h3 class="insta-title">follow us</h3>
      <div class="insta-logo">
        <img src="/public/src/img/insta-sign.png" alt="insta-sign">
        <img src="/public/src/img/insta-logo.png" alt="insta-logo">
      </div>
      <p class="insta-desc">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily. </p>
      <a class="insta-link" href="#"><p> follow </p></a>
    </article>
    <div class="insta-item04"><img src="/public/src/img/insta-item4.png" alt="insta-item04"></div>
    <div class="insta-item05"><img src="/public/src/img/insta-item5.png" alt="insta-item05"></div>
    <div class="insta-item06"><img src="/public/src/img/insta-item6.png" alt="insta-item06"></div>
    
  </section>
</section>