<section class="contacts" id="contacts" >
  <h2 class="contacts-title">Contact Us</h1>
  <p class="contacts-desc">As we passed, I remarked a beautiful church-spire rising above some old elms in the park.</p>
</section>