<section class="gnb-nav">
  <div class="gnb-home"><a href="#home"><img src="/public/src/img/logo_2.svg" alt=""></a></div>
  <section class="gnb-nav-list">
    <div class="gnb-page01"><a href="#testimonials">testimonials</a></div>
    <div class="gnb-page02"><a href="#features">features</a></div>
    <div class="gnb-page03"><a href="#projects">projects</a></div>
    <div class="gnb-page04"><a href="#pricing">pricing</a></div>
    <div class="gnb-page05"><a href="#about-us">about us</a></div>
    <div class="gnb-page06"><a href="#contacts">contacts</a></div>
  </section>
  <button type="button" role="button" aria-label="Toggle Navigation" data-navicon="button" class="icon-menu navicon navicon-x">
    <span class="navicon__lines"></span>
  </button>
</section>