<section class="gnb-nav">
  <div class="gnb-home"><a href="#home">home</a></div>
  <section class="gnb-nav-list">
    <div class="gnb-page01"><a href="#page01">page01</a></div>
    <div class="gnb-page02"><a href="#page02">page02</a></div>
    <div class="gnb-page03"><a href="#page03">page03</a></div>
    <div class="gnb-page04"><a href="#page04">page04</a></div>
    <div class="gnb-page05"><a href="#page05">page05</a></div>
  </section>
</section>