<main data-ng-app="ngUI">

  <section class="home" id="home" data-ng-controller="homeCtrl as home">
     <ul class="home-carousel">
       <li class="{{item.class}} home-animation" 
          data-ng-class="{'active': home.isSelected( '{{item.class}}' )}" 
          data-ng-repeat="item in home.contents">
         <div class="text-items">
           <div class="item-name">{{item.name}}</div>
           <div class="item-description">{{item.description}}</div>
         </div>
         <div class="item-img"><img data-ng-src="{{item.img}}" alt="{{item.name}}"></div>
       </li>
     </ul>
     <button type="button" class="prev" data-ng-click="home.prevItem()">&lt;</button>
     <button type="button" class="next" data-ng-click="home.nextItem()">&gt;</button>
  </section>

  <section class="testimonials" id="testimonials" data-ng-controller="peopleCtrl as people">
     <ul class="people-carousel">
       <li class="{{item.class}} people-animation"
          data-ng-class="people.currentClass( '{{item.class}}' )"
          data-ng-repeat="item in people.contents">
         <div class="item-img"><img data-ng-src="{{item.img}}" alt="{{item.name}}"></div>
         <div class="item-text">
           <div class="item-description">{{item.description}}</div>
           <div class="item-name">{{item.name}}</div>
           <div class="item-role">{{item.role}}</div>
         </div>
       </li>
     </ul>
     <button type="button" class="prev" data-ng-click="people.prevItem()">&lt;</button>
     <button type="button" class="next" data-ng-click="people.nextItem()">&gt;</button>
  </section>

  <section class="features" id="features" data-ng-controller="listCtrl as list">

    <div class="btn-group" isotope-filter isotope-filter-event="filter-elements" >
      <button isotope-filter-by="*" class="btn btn-default active">all</button>
      <button isotope-filter-by=".app" class="btn btn-default">app</button>
      <button isotope-filter-by=".branding" class="btn btn-default">branding</button>
      <button isotope-filter-by=".web" class="btn btn-default">web</button>
    </div>

 
    <div isotope-grid="list.contents" isotope-filter-event="filter-elements" isotope-reload-event="reload-elements" >
      <div class="{{item.category}} element-item" data-ng-repeat="item in list.contents">
        <article class="card">
          <span class="front">{{item.name}}</span>
          <span class="back">{{item.description}}</span>
        </article>
      </div>
    </div>
  </section>

  <section class="projects" id="projects">projects</section>

  <section class="pricing" id="pricing" >pricing</section>

  <section class="about-us" id="about-us" >about-us</section>
  
  <section class="contacts" id="contacts" >contacts</section>
  
</main>