<section class="pricing" id="pricing" >
  <h2 class="pricing-title">choose your pricing plan</h1>
  <p class="pricing-desc">This little wandering journey, without settled place of abode.</p>
  <div class="pricing-items">
    <article class="item-personal">
      <div class="personal-img">
        <img src="/public/src/img/personal.png" alt="personal">
      </div>
      <p class="personal-title">personal</p>
      <p class="personal-desc">This sounded a very good reason, and Alice was quite pleased to know.</p>
      <p class="personal-price">
        <span class="dollar">$</span>
        <span class="cost">100</span>
        <span class="per">/year</span>
      </p>
      <a class="personal-link" href="#"><p> start </p></a>
    </article>

    <article class="item-team">
      <div class="team-img">
        <img src="/public/src/img/team.png" alt="best team">
      </div>
      <p class="team-title">team</p>
      <p class="team-desc">Now the races of these two have been for some ages utterly extinct.</p>
      <p class="team-price">
        <span class="dollar">$</span>
        <span class="cost">500</span>
        <span class="per">/year</span>
      </p>
      <a class="team-link" href="#"><p> start </p></a>
    </article>

    <article class="item-corporate">
      <div class="corporate-img">
        <img src="/public/src/img/corporate.png" alt="free corporate">
      </div>
      <p class="corporate-title">corporate</p>
      <p class="corporate-desc">In all revolutions of government, he would make his court for the office.</p>
      <p class="corporate-price">
        <span class="dollar">$</span>
        <span class="cost">1000</span>
        <span class="per">/year</span>
      </p>
      <a class="corporate-link" href="#"><p> start </p></a>
    </article>
  </div>
</section>
