<section class="projects" id="projects" data-ng-controller="listCtrl as list">
  <h2 class="projects-title">OUR WORKS</h2>
  <p class="projects-desc">A hundred thousand grateful loves to your dear papa and mamma.</p>
  
  <div class="btn-group" data-isotope-filter data-isotope-filter-event="filter-elements" >
    <button data-isotope-filter-by="*" class="btn btn-default active">all</button>
    <button data-isotope-filter-by=".app" class="btn btn-default">app</button>
    <button data-isotope-filter-by=".branding" class="btn btn-default">branding</button>
    <button data-isotope-filter-by=".web" class="btn btn-default">web</button>
  </div>
  <div class="items-group" data-isotope-grid="list.contents" data-isotope-filter-event="filter-elements" data-isotope-reload-event="reload-elements" >
    <div class="{{item.category}} element-item" data-ng-repeat="item in list.contents">
      <article class="card" aria-label="item card">
      <!-- <h1 aria-hidden="true">{{item.name}} </h1> -->
        <span class="front">
          <img data-ng-src="{{item.img}}" src="/public/src/img/dummy.png" alt="{{item.name}}" >
        </span>
        <span class="back">
          <span class="item-title">{{item.name}}</span>
          <span class="item-desc">{{item.description}}</span>
          <a class="item-link" href="{{item.link}}"><span>view</span></a>
          <span class="close-btn">&#xd7;</span>
        </span>
      </article>
    </div>
  </div>
</section>
