<section class="side-nav">
  <ul>
    <li class="side-page01"><a href="#page01"><span>page01</span></a></li>
    <li class="side-page02"><a href="#page02"><span>page02</span></a></li>
    <li class="side-page03"><a href="#page03"><span>page03</span></a></li>
    <li class="side-page04"><a href="#page04"><span>page04</span></a></li>
    <li class="side-page05"><a href="#page05"><span>page05</span></a></li>
  </ul>
</section>