<section class="side-nav">
  <ul>
    <li class="side-page01"><a href="#testimonials"><span>testimonials</span></a></li>
    <li class="side-page02"><a href="#features"><span>features</span></a></li>
    <li class="side-page03"><a href="#projects"><span>projects</span></a></li>
    <li class="side-page04"><a href="#pricing"><span>pricing</span></a></li>
    <li class="side-page05"><a href="#about-us"><span>about us</span></a></li>
    <li class="side-page06"><a href="#contacts"><span>contacts</span></a></li>
  </ul>
</section>