@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://brick.a.ssl.fastly.net/Montserrat:400,700,900);
.testimonials, .features, .projects, .pricing, .about-us, .contacts, .home {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  font-size: 40px;
  color: #fff;
}

.home, .features, .pricing, .contacts {
  background: #141414;
}

.testimonials, .projects, .about-us {
  background: #fff;
  color: #000;
}

.home {
  padding-top: 140px;
  padding-bottom: 80px;
}

.testimonials {
  flex-flow: column;
}

.gnb-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  z-index: 1000;
  padding-right: 35px;
  width: 100%;
  height: 125px;
  background-color: #141414;
  transition: all 0.3s ease;
}

.gnb-nav div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: 45px;
  text-transform: capitalize;
}

.gnb-nav div a {
  text-decoration: none;
  color: #ac9455;
}

.gnb-nav .gnb-home {
  margin-left: 35px;
}

.gnb-nav .gnb-nav-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease;
}

.gnb-nav .gnb-nav-list .active a {
  border-bottom: 2px solid #ac9455;
}

.gnb-nav .gnb-nav-list .active a, .gnb-nav .gnb-nav-list div:hover a {
  color: #fff;
}

.gnb-nav .gnb-nav-list [class*="gnb-page"] {
  line-height: 2.5;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.gnb-nav.scrolled {
  height: 102px;
  background-color: #fff;
  border-bottom: 1px solid rgba(20, 20, 20, 0.12);
}

.gnb-nav.scrolled .active a, .gnb-nav.scrolled div:hover a {
  color: #141414;
}

.gnb-nav .navicon {
  display: none;
  padding: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.gnb-nav .navicon__lines {
  display: inline-block;
  width: 15px;
  height: 1px;
  background: #ac9455;
  border-radius: 1px;
  transition: .3s ease;
  position: relative;
}

.gnb-nav .navicon__lines:before, .gnb-nav .navicon__lines:after {
  display: inline-block;
  width: 15px;
  height: 1px;
  background: #ac9455;
  border-radius: 1px;
  transition: .3s ease;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 2px center;
}

.gnb-nav .navicon__lines:before {
  top: 5px;
}

.gnb-nav .navicon__lines:after {
  top: -5px;
}

.is--closed .gnb-nav .navicon__lines {
  transform: scale3d(0.8, 0.8, 0.8);
}

.gnb-nav .navicon-x.is--closed .navicon__lines {
  background: transparent;
}

.gnb-nav .navicon-x.is--closed .navicon__lines:before, .gnb-nav .navicon-x.is--closed .navicon__lines:after {
  background: #fff;
  transform-origin: 50% 50%;
  top: 0;
  width: 15px;
}

.gnb-nav .navicon-x.is--closed .navicon__lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.gnb-nav .navicon-x.is--closed .navicon__lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.lg .gnb-nav-list {
  justify-content: space-around;
}

.md .gnb-nav, .xs .gnb-nav {
  height: 104px;
  justify-content: space-between;
}

.md .gnb-nav .gnb-nav-list, .xs .gnb-nav .gnb-nav-list {
  display: none;
}

.md .gnb-nav .navicon, .xs .gnb-nav .navicon {
  display: inline-block;
}

.md .gnb-nav.is-open {
  background: #010101;
}

.md .gnb-nav.is-open .gnb-home {
  display: none;
}

.md .gnb-nav.is-open .gnb-nav-list {
  display: flex;
  justify-content: flex-start;
}

.md .gnb-nav.is-open .gnb-nav-list .active a, .md .gnb-nav.is-open .gnb-nav-list div:hover a {
  color: #fff;
}

.md .gnb-nav.is-open .gnb-nav-list [class*="gnb-page"] {
  margin-left: 28px;
  font-size: 10px;
}

.xs .gnb-nav {
  height: 70px;
  padding-right: 0;
  transition: all 0.3s ease;
}

.xs .gnb-nav .gnb-home {
  margin-left: 0;
}

.xs .gnb-nav .gnb-home img {
  width: 90px;
}

.xs .gnb-nav::before {
  content: '';
  width: 45px;
}

.xs .gnb-nav [data-navicon="button"] {
  padding-right: 20px;
}

.xs .gnb-nav.is-open {
  background: rgba(20, 20, 20, 0.95);
  height: auto;
}

.xs .gnb-nav.is-open .gnb-home {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 70px;
}

.xs .gnb-nav.is-open .gnb-nav-list {
  order: 4;
  flex-basis: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.xs .gnb-nav.is-open .gnb-nav-list .active a, .xs .gnb-nav.is-open .gnb-nav-list div:hover a {
  color: #fff;
  border: none;
}

.xs .gnb-nav.is-open .gnb-nav-list [class*="gnb-page"] {
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 12px;
}

.side-nav {
  display: none;
  cursor: default;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 0;
  margin-right: 3%;
  text-align: right;
}

.side-nav.fade-in {
  display: block;
}

.side-nav li {
  list-style-type: none;
  padding: 5px;
  margin: 1px;
}

.side-nav a {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Open Sans";
  font-size: 12px;
  color: #2b2b2b;
  text-transform: capitalize;
  text-decoration: none;
}

.side-nav a span {
  opacity: 0;
}

.side-nav a::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #cacaca;
}

.side-nav .active, .side-nav li:hover {
  list-style-type: none;
  padding: 5px;
  margin: 1px;
  border-radius: 20px;
  background-color: #ededed;
  transition: background-color 0.3s ease;
}

.side-nav .active a::after, .side-nav li:hover a::after {
  background-color: #ac9455;
  transition: all 0.3s ease;
}

.side-nav .active span, .side-nav li:hover span {
  opacity: 1;
  transition: all 0.3s ease;
}

.xs .side-nav, .md .side-nav {
  display: none;
}

.home .arrow-btns button {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.home .prev {
  left: 5%;
  border-right: 22px solid rgba(255, 255, 255, 0.2);
}

.home .prev:hover {
  border-right: 22px solid rgba(255, 255, 255, 0.55);
}

.home .next {
  right: 5%;
  border-left: 22px solid rgba(255, 255, 255, 0.2);
}

.home .next:hover {
  border-left: 22px solid rgba(255, 255, 255, 0.55);
}

.home .indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}

.home .indicator button {
  margin-right: 10px;
  width: 25px;
  height: 0;
  border-top: 1px solid #fff;
}

.home .indicator button.active {
  border-top: 1px solid #ac9455;
}

.home .home-carousel {
  display: flex;
  flex-basis: 80%;
  height: 100%;
}

.home .home-carousel .mobile img {
  width: 550px;
}

.home .home-carousel .watch img {
  width: 360px;
}

.home .home-carousel li {
  display: none;
}

.home .home-carousel li.active {
  display: flex;
}

.home .home-carousel li .item-img {
  flex: 1 0 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 70vh;
}

.home .home-carousel li .text-items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.home .home-carousel li .text-items .item-name, .home .home-carousel li .text-items .item-link {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.home .home-carousel li .text-items .item-name {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
}

.home .home-carousel li .text-items .item-description {
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
  color: #a3a3a3;
}

.home .home-carousel li .text-items .item-link {
  align-self: flex-start;
  flex: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 12px;
  padding: 25px 32px 25px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #ac9455;
}

.home .home-carousel li .text-items .item-link .apple {
  font-size: 22px;
  margin-right: 10px;
}

.home .home-carousel li .text-items .item-link:hover {
  background-color: #ac9455;
}

.md .home {
  padding-bottom: 120px;
}

.md .home .home-carousel .mobile img {
  width: 500px;
}

.md .home .home-carousel .watch img {
  width: 306px;
}

.xs .home {
  padding-bottom: 80px;
}

.xs .home .indicator {
  bottom: 30px;
}

.xs .home .home-carousel .item-img {
  height: 55vh;
}

.xs .home .home-carousel .mobile img {
  width: 435px;
}

.xs .home .home-carousel .watch img {
  width: 209px;
}

.xs .home .home-carousel .text-items .item-name {
  text-align: center;
}

.md .home .home-carousel li.active, .xs .home .home-carousel li.active {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.md .home .home-carousel li.active .item-img, .xs .home .home-carousel li.active .item-img {
  order: -1;
}

.md .home .home-carousel li.active .text-items .item-name, .xs .home .home-carousel li.active .text-items .item-name {
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 1;
}

.md .home .home-carousel li.active .text-items .item-description, .xs .home .home-carousel li.active .text-items .item-description {
  width: 80%;
  line-height: 1.7;
  text-align: center;
}

.md .home .home-carousel li.active .text-items .item-link, .xs .home .home-carousel li.active .text-items .item-link {
  align-self: center;
  font-size: 10px;
  padding: 10px 22px 9px;
  border-radius: 30px;
}

.md .home .home-carousel li.active .text-items .item-link .apple, .xs .home .home-carousel li.active .text-items .item-link .apple {
  font-size: 20px;
}

.testimonials .testimonials-title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 900;
  color: #2b2b2b;
}

.testimonials .testimonials-desc {
  position: relative;
  margin-bottom: 65px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #a3a3a3;
}

.testimonials .testimonials-desc::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 65px;
  border-top: 1px solid #ac9455;
}

.testimonials .prev, .testimonials .next {
  position: absolute;
  top: 50%;
  width: 11px;
  height: 19px;
  cursor: pointer;
}

.testimonials .prev {
  left: 50%;
  transform: translate(-150px, 0);
  background-image: url("/public/src/img/left-normal.png");
}

.testimonials .prev:hover {
  background-image: url("/public/src/img/left-hover.png");
}

.testimonials .next {
  right: 50%;
  transform: translate(150px, 0);
  background-image: url("/public/src/img/right-normal.png");
}

.testimonials .next:hover {
  background-image: url("/public/src/img/right-hover.png");
}

.testimonials .people-carousel li {
  display: none;
}

.testimonials .people-carousel li.current, .testimonials .people-carousel li.standby-left, .testimonials .people-carousel li.standby-right {
  float: left;
  margin-right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.testimonials .people-carousel li.current .item-name, .testimonials .people-carousel li.standby-left .item-name, .testimonials .people-carousel li.standby-right .item-name {
  font-size: 30px;
}

.testimonials .people-carousel li.current .item-description, .testimonials .people-carousel li.standby-left .item-description, .testimonials .people-carousel li.standby-right .item-description {
  font-size: 14px;
}

.testimonials .people-carousel li.current .item-role, .testimonials .people-carousel li.standby-left .item-role, .testimonials .people-carousel li.standby-right .item-role {
  font-size: 14px;
}

.testimonials .people-carousel li.current {
  margin-left: 33.333%;
}

.testimonials .people-carousel li.current .item-description {
  display: block;
}

.testimonials .people-carousel li.standby-left {
  margin-left: 0%;
  transform: scale(0.8);
}

.testimonials .people-carousel li.standby-left .item-description {
  display: none;
}

.testimonials .people-carousel li.standby-right {
  margin-left: 66.666%;
  transform: scale(0.8);
}

.testimonials .people-carousel li.standby-right .item-description {
  display: none;
}

.features {
  flex-direction: column;
  justify-content: flex-start;
}

.features .filter-btns {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10px;
}

.features .filter-btns button {
  font-size: 30px;
}

.features .element-item {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  perspective: 600px;
}

.features .element-item .card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.features .element-item .card span {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.features .element-item .card .front {
  background: #B3B3B3;
}

.features .element-item .card .back {
  color: #000;
  background: #FFFFFF;
  transform: rotateY(180deg);
}

.features .element-item .card:hover {
  transform: rotateY(180deg);
}

.wide .ng-isolate-scope, .lg .ng-isolate-scope {
  width: 650px;
}

.md .ng-isolate-scope {
  width: 500px;
}

.xs .ng-isolate-scope {
  width: 250px;
}

.xs .element-item {
  width: 230px;
}

/*# sourceMappingURL=../css/maps/style.css.map */
