@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://brick.a.ssl.fastly.net/Montserrat:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400i);
@keyframes flip-in {
  100% {
    transform: rotateY(180deg);
  }
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

h1 {
  font-size: 45px;
  line-height: 45px;
}

.md h1, .xs h1 {
  font-size: 35px;
  line-height: 1;
}

h2 {
  font-size: 30px;
}

.md h2, .xs h2 {
  font-size: 24px;
  text-align: center;
}

p[class*="description"], p[class*="desc"], span[class*="description"], span[class*="desc"] {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #a3a3a3;
}

.md p[class*="description"], .xs p[class*="description"], .md p[class*="desc"], .xs p[class*="desc"], .md span[class*="description"], .xs span[class*="description"], .md span[class*="desc"], .xs span[class*="desc"] {
  font-size: 13px;
  text-align: center;
}

p[class*="name"], p[class*="title"], span[class*="name"], span[class*="title"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.md p[class*="name"], .xs p[class*="name"], .md p[class*="title"], .xs p[class*="title"], .md span[class*="name"], .xs span[class*="name"], .md span[class*="title"], .xs span[class*="title"] {
  font-size: 18px;
  text-align: center;
}

.testimonials, .features, .projects, .pricing, .about-us, .contacts, .home {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  width: 100%;
  color: #fff;
}

.home, .features, .pricing {
  background: #141414;
}

.testimonials, .projects, .about-us, .contacts {
  background: #fff;
  color: #000;
}

.home {
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 80px;
}

.xs .home {
  padding-top: 80px;
}

.testimonials, .features, .projects, .pricing, .about-us, .contacts {
  flex-flow: column;
}

.about-us, .contacts {
  padding-right: 0;
  padding-left: 0;
}

.gnb-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  z-index: 1000;
  padding-right: 35px;
  width: 100%;
  height: 125px;
  background-color: #141414;
  transition: all 0.3s ease;
}

.gnb-nav div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: 45px;
  text-transform: capitalize;
}

.gnb-nav div a {
  text-decoration: none;
  color: #ac9455;
}

.gnb-nav .gnb-home {
  margin-left: 35px;
}

.gnb-nav .gnb-nav-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease;
}

.gnb-nav .gnb-nav-list .active a {
  border-bottom: 2px solid #ac9455;
}

.gnb-nav .gnb-nav-list .active a, .gnb-nav .gnb-nav-list div:hover a {
  color: #fff;
}

.gnb-nav .gnb-nav-list [class*="gnb-page"] {
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.gnb-nav.scrolled {
  height: 102px;
  background-color: #fff;
  border-bottom: 1px solid rgba(20, 20, 20, 0.12);
}

.gnb-nav.scrolled .active a, .gnb-nav.scrolled div:hover a {
  color: #141414;
}

.gnb-nav .navicon {
  display: none;
  padding: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.gnb-nav .navicon__lines {
  display: inline-block;
  width: 15px;
  height: 1px;
  background: #ac9455;
  border-radius: 1px;
  transition: .3s ease;
  position: relative;
}

.gnb-nav .navicon__lines:before, .gnb-nav .navicon__lines:after {
  display: inline-block;
  width: 15px;
  height: 1px;
  background: #ac9455;
  border-radius: 1px;
  transition: .3s ease;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 2px center;
}

.gnb-nav .navicon__lines:before {
  top: 5px;
}

.gnb-nav .navicon__lines:after {
  top: -5px;
}

.is--closed .gnb-nav .navicon__lines {
  transform: scale3d(0.8, 0.8, 0.8);
}

.gnb-nav .navicon-x.is--closed .navicon__lines {
  background: transparent;
}

.gnb-nav .navicon-x.is--closed .navicon__lines:before, .gnb-nav .navicon-x.is--closed .navicon__lines:after {
  background: #fff;
  transform-origin: 50% 50%;
  top: 0;
  width: 15px;
}

.gnb-nav .navicon-x.is--closed .navicon__lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.gnb-nav .navicon-x.is--closed .navicon__lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.lg .gnb-nav-list {
  justify-content: space-around;
}

.md .gnb-nav, .xs .gnb-nav {
  width: 100vw;
  height: 104px;
  justify-content: space-between;
}

.md .gnb-nav .gnb-nav-list, .xs .gnb-nav .gnb-nav-list {
  display: none;
}

.md .gnb-nav .navicon, .xs .gnb-nav .navicon {
  display: inline-block;
}

.md .gnb-nav.is-open {
  background: #010101;
}

.md .gnb-nav.is-open .gnb-home {
  display: none;
}

.md .gnb-nav.is-open .gnb-nav-list {
  display: flex;
  justify-content: flex-start;
}

.md .gnb-nav.is-open .gnb-nav-list .active a, .md .gnb-nav.is-open .gnb-nav-list div:hover a {
  color: #fff;
}

.md .gnb-nav.is-open .gnb-nav-list [class*="gnb-page"] {
  margin-left: 28px;
  font-size: 10px;
}

.xs .gnb-nav {
  height: 70px;
  padding-right: 0;
  transition: all 0.3s ease;
}

.xs .gnb-nav .gnb-home {
  margin-left: 0;
}

.xs .gnb-nav .gnb-home img {
  width: 90px;
}

.xs .gnb-nav::before {
  content: '';
  width: 45px;
}

.xs .gnb-nav [data-navicon="button"] {
  padding-right: 20px;
}

.xs .gnb-nav.is-open {
  background: rgba(20, 20, 20, 0.95);
  height: auto;
}

.xs .gnb-nav.is-open .gnb-home {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 70px;
}

.xs .gnb-nav.is-open .gnb-nav-list {
  order: 4;
  flex-basis: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.xs .gnb-nav.is-open .gnb-nav-list .active a, .xs .gnb-nav.is-open .gnb-nav-list div:hover a {
  color: #fff;
  border: none;
}

.xs .gnb-nav.is-open .gnb-nav-list [class*="gnb-page"] {
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 12px;
}

.side-nav {
  display: none;
  cursor: default;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 999;
  top: 50%;
  right: 0;
  margin-right: 3%;
  text-align: right;
}

.side-nav.fade-in {
  display: block;
}

.side-nav li {
  list-style-type: none;
  padding: 5px;
  margin: 1px;
}

.side-nav a {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #2b2b2b;
  text-transform: capitalize;
  text-decoration: none;
}

.side-nav a span {
  opacity: 0;
}

.side-nav a::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #cacaca;
}

.side-nav .active, .side-nav li:hover {
  list-style-type: none;
  padding: 5px;
  margin: 1px;
  border-radius: 20px;
  background-color: #ededed;
  transition: background-color 0.3s ease;
}

.side-nav .active a::after, .side-nav li:hover a::after {
  background-color: #ac9455;
  transition: all 0.3s ease;
}

.side-nav .active span, .side-nav li:hover span {
  opacity: 1;
  transition: all 0.3s ease;
}

.xs .side-nav, .md .side-nav {
  display: none;
}

.home .arrow-btns button {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.home .prev {
  left: 5%;
  border-right: 22px solid rgba(255, 255, 255, 0.2);
}

.home .prev:hover {
  border-right: 22px solid rgba(255, 255, 255, 0.55);
}

.home .next {
  right: 5%;
  border-left: 22px solid rgba(255, 255, 255, 0.2);
}

.home .next:hover {
  border-left: 22px solid rgba(255, 255, 255, 0.55);
}

.home .indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}

.home .indicator button {
  margin-right: 10px;
  width: 25px;
  height: 0;
  border-top: 1px solid #fff;
}

.home .indicator button.active {
  border-top: 1px solid #ac9455;
}

.home .home-carousel {
  display: flex;
  flex-basis: 80%;
  height: 100%;
}

.home .home-carousel .mobile img {
  width: 550px;
}

.home .home-carousel .watch .item-img {
  padding-top: 3.15px;
  padding-bottom: 3.15px;
}

.home .home-carousel .watch img {
  width: 360px;
}

.home .home-carousel li {
  display: none;
}

.home .home-carousel li.active {
  display: flex;
}

.home .home-carousel li .item-img {
  flex: 1 0 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: auto;
}

.home .home-carousel li .text-items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.home .home-carousel li .text-items .item-name, .home .home-carousel li .text-items .item-link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.home .home-carousel li .text-items .item-name {
  margin-bottom: 20px;
}

.home .home-carousel li .text-items .item-description {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 24px;
  color: #a3a3a3;
}

.home .home-carousel li .text-items .item-link {
  align-self: flex-start;
  flex: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 25px 32px 25px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #ac9455;
}

.home .home-carousel li .text-items .item-link:hover {
  background-color: #ac9455;
}

.home .home-carousel li .text-items .item-link .apple {
  font-size: 22px;
  margin-right: 10px;
}

.md .home {
  padding-bottom: 120px;
}

.md .home .home-carousel .mobile img {
  width: 500px;
}

.md .home .home-carousel .watch .item-img {
  padding-top: 16.63px;
  padding-bottom: 16.63px;
}

.md .home .home-carousel .watch img {
  width: 306px;
}

.xs .home {
  padding-bottom: 80px;
}

.xs .home .indicator {
  bottom: 30px;
}

.xs .home .home-carousel {
  width: 100vw;
}

.xs .home .home-carousel .mobile .item-img, .xs .home .home-carousel .watch .item-img {
  flex: initial;
  width: 100vw;
  height: 50vh;
}

.xs .home .home-carousel .mobile .item-img img, .xs .home .home-carousel .watch .item-img img {
  width: 50vh;
}

.xs .home .home-carousel .mobile img {
  transform: scale(0.9);
}

.xs .home .home-carousel .watch img {
  transform: scale(0.5);
}

.md .home .home-carousel li.active, .xs .home .home-carousel li.active {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.md .home .home-carousel li.active .item-img, .xs .home .home-carousel li.active .item-img {
  order: -1;
}

.md .home .home-carousel li.active .text-items .item-name, .xs .home .home-carousel li.active .text-items .item-name {
  text-align: center;
  margin-bottom: 10px;
}

.md .home .home-carousel li.active .text-items .item-description, .xs .home .home-carousel li.active .text-items .item-description {
  width: 80%;
  line-height: 1.7;
  text-align: center;
}

.md .home .home-carousel li.active .text-items .item-link, .xs .home .home-carousel li.active .text-items .item-link {
  align-self: center;
  font-size: 10px;
  padding: 10px 22px 9px;
  border-radius: 30px;
}

.md .home .home-carousel li.active .text-items .item-link .apple, .xs .home .home-carousel li.active .text-items .item-link .apple {
  font-size: 20px;
}

.testimonials .testimonials-title {
  margin-bottom: 10px;
  color: #2b2b2b;
}

.testimonials .testimonials-desc {
  position: relative;
  margin-bottom: 65px;
}

.testimonials .testimonials-desc::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 65px;
  border-top: 1px solid #ac9455;
}

.testimonials .prev, .testimonials .next {
  position: absolute;
  top: 45%;
  width: 11px;
  height: 19px;
  cursor: pointer;
}

.testimonials .prev {
  left: 50%;
  transform: translate(-160px, 0);
  background-image: url("/public/src/img/left-normal.png");
}

.testimonials .prev:hover {
  background-image: url("/public/src/img/left-hover.png");
}

.testimonials .next {
  right: 50%;
  transform: translate(160px, 0);
  background-image: url("/public/src/img/right-normal.png");
}

.testimonials .next:hover {
  background-image: url("/public/src/img/right-hover.png");
}

.testimonials .people-carousel li {
  display: none;
}

.testimonials .people-carousel li.current, .testimonials .people-carousel li.standby-left, .testimonials .people-carousel li.standby-right {
  float: left;
  margin-right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
}

.testimonials .people-carousel li.current .item-name, .testimonials .people-carousel li.current .item-description, .testimonials .people-carousel li.current .item-role, .testimonials .people-carousel li.current .item-quote, .testimonials .people-carousel li.standby-left .item-name, .testimonials .people-carousel li.standby-left .item-description, .testimonials .people-carousel li.standby-left .item-role, .testimonials .people-carousel li.standby-left .item-quote, .testimonials .people-carousel li.standby-right .item-name, .testimonials .people-carousel li.standby-right .item-description, .testimonials .people-carousel li.standby-right .item-role, .testimonials .people-carousel li.standby-right .item-quote {
  text-align: center;
}

.testimonials .people-carousel li.current .item-name, .testimonials .people-carousel li.current .item-quote, .testimonials .people-carousel li.standby-left .item-name, .testimonials .people-carousel li.standby-left .item-quote, .testimonials .people-carousel li.standby-right .item-name, .testimonials .people-carousel li.standby-right .item-quote {
  margin-top: 20px;
}

.testimonials .people-carousel li.current .item-description, .testimonials .people-carousel li.standby-left .item-description, .testimonials .people-carousel li.standby-right .item-description {
  margin-top: 15px;
}

.testimonials .people-carousel li.current .item-role, .testimonials .people-carousel li.standby-left .item-role, .testimonials .people-carousel li.standby-right .item-role {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #ac9455;
  text-transform: uppercase;
}

.testimonials .people-carousel li.current {
  margin-left: 33.333%;
}

.testimonials .people-carousel li.current .item-description, .testimonials .people-carousel li.current .item-quote {
  display: block;
}

.testimonials .people-carousel li.standby-left {
  margin-left: 0%;
  transform: scale(0.8);
}

.testimonials .people-carousel li.standby-left .item-description, .testimonials .people-carousel li.standby-left .item-quote {
  display: none;
}

.testimonials .people-carousel li.standby-right {
  margin-left: 66.666%;
  transform: scale(0.8);
}

.testimonials .people-carousel li.standby-right .item-description, .testimonials .people-carousel li.standby-right .item-quote {
  display: none;
}

.md .testimonials .prev, .md .testimonials .next, .xs .testimonials .prev, .xs .testimonials .next {
  top: 45%;
}

.md .testimonials .testimonials-desc, .xs .testimonials .testimonials-desc {
  margin-bottom: 50px;
}

.md .testimonials .testimonials-desc::after, .xs .testimonials .testimonials-desc::after {
  width: 40px;
}

.md .testimonials .people-carousel, .xs .testimonials .people-carousel {
  height: auto;
}

.md .testimonials .people-carousel li.current, .md .testimonials .people-carousel li.standby-left, .md .testimonials .people-carousel li.standby-right, .xs .testimonials .people-carousel li.current, .xs .testimonials .people-carousel li.standby-left, .xs .testimonials .people-carousel li.standby-right {
  width: 236px;
}

.md .testimonials .people-carousel li.current, .xs .testimonials .people-carousel li.current {
  transform: scale(0.8);
}

.md .testimonials .people-carousel li.standby-left, .xs .testimonials .people-carousel li.standby-left {
  transform: scale(0.6);
}

.md .testimonials .people-carousel li.standby-right, .xs .testimonials .people-carousel li.standby-right {
  transform: scale(0.6);
}

.md .testimonials .prev {
  left: 52%;
}

.md .testimonials .next {
  right: 52%;
}

.xs .testimonials .prev {
  left: 10%;
  transform: translate(0);
}

.xs .testimonials .next {
  right: 10%;
  transform: translate(0);
}

.xs .testimonials .people-carousel li.current {
  margin-left: 0;
  transform: scale(0.8);
}

.xs .testimonials .people-carousel li.standby-left, .xs .testimonials .people-carousel li.standby-right {
  display: none;
}

.projects {
  flex-direction: column;
  justify-content: flex-start;
}

.projects .projects-title {
  margin-bottom: 10px;
}

.projects .projects-desc {
  position: relative;
  margin-bottom: 65px;
}

.projects .projects-desc::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 65px;
  border-top: 1px solid #ac9455;
}

.projects .btn-group {
  margin-bottom: 30px;
}

.projects .btn-group button {
  margin-right: 30px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #ac9455;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.projects .btn-group button.active {
  color: #141414;
  border-bottom: 1px solid #ac9455;
  outline: none;
}

.projects .btn-group button:last-child {
  margin-right: 0;
}

.projects .items-group {
  width: 980px;
}

.projects .element-item {
  position: relative;
  float: left;
  width: 230px;
  height: 230px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  perspective: 600px;
  transition: all 0.5s linear;
}

.projects .element-item.hover {
  transform: translateY(-3px);
}

.projects .element-item.hover .card, .projects .element-item.hover .card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: flip-in 1s forwards 0.5s;
}

.non-touch .projects .element-item:hover, .non-touch .projects .element-item:focus {
  transform: translateY(-3px);
}

.non-touch .projects .element-item:hover .card, .non-touch .projects .element-item:focus .card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: flip-in 1s forwards 0.5s;
}

.projects .element-item .card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 13px;
}

.projects .element-item .card .front, .projects .element-item .card .back {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 13px;
}

.projects .element-item .card .front span, .projects .element-item .card .back span {
  display: block;
}

.projects .element-item .card .front {
  top: 0;
  left: 0;
  z-index: 2;
}

.projects .element-item .card .front img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: 100%;
}

.projects .element-item .card .back {
  padding: 20px;
  color: #000;
  background: #ac9455;
  transform: rotateY(180deg);
}

.projects .element-item .card .back .item-title, .projects .element-item .card .back .item-desc {
  text-align: left;
}

.projects .element-item .card .back .item-title {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  color: #fff;
}

.projects .element-item .card .back .item-desc {
  padding-bottom: 20px;
  font-size: 12px;
  color: #fff;
}

.projects .element-item .card .back .item-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px 10px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #ac9455;
  width: 100px;
  border: 2px solid #fff;
}

.projects .element-item .card .back .item-link:hover {
  background-color: #fff;
  color: #141414;
}

.projects .element-item .card .back .close-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #FFF;
}

.md .items-group {
  width: 730px;
}

.xs .projects .items-group {
  width: 100%;
}

.xs .projects .element-item {
  width: 100%;
  margin-left: 0;
}

.xs .projects .element-item .card .front img {
  width: auto;
  height: auto;
}

.xs .projects .element-item .card .back .close-btn {
  display: block;
}

.features .features-title {
  margin-bottom: 10px;
}

.features .features-desc {
  position: relative;
  margin-bottom: 65px;
}

.features .features-desc::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 65px;
  border-top: 1px solid #ac9455;
}

.features .features-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.features .features-items article {
  flex: 1 0 33%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.features .features-items article [class*="-img"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
  margin-bottom: 35px;
  height: 145px;
}

.features .features-items article [class*="-title"] {
  margin-bottom: 15px;
}

.features .features-items article [class*="-desc"] {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.md .features .features-desc, .xs .features .features-desc {
  margin-bottom: 50px;
}

.md .features .features-items article [class*="-img"], .xs .features .features-items article [class*="-img"] {
  transform: scale(0.85);
  height: 125px;
  margin-bottom: 15px;
}

.xs .features .features-items {
  flex-direction: column;
}

.xs .features .features-items article {
  flex: initial;
}

.xs .features .features-items [class*="-desc"] {
  padding: 0;
  margin-bottom: 20px;
}

.pricing .pricing-title {
  margin-bottom: 10px;
}

.pricing .pricing-desc {
  position: relative;
  margin-bottom: 65px;
}

.pricing .pricing-desc::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 65px;
  border-top: 1px solid #ac9455;
}

.pricing .pricing-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.pricing .pricing-items article {
  flex: 1 0 33%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.pricing .pricing-items article [class*="-img"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform: scale(0.85);
  margin-bottom: 35px;
  width: 100%;
  height: 240px;
}

.pricing .pricing-items article [class*="-title"], .pricing .pricing-items article [class*="-desc"] {
  margin-bottom: 15px;
}

.pricing .pricing-items article [class*="-desc"] {
  width: 80%;
  text-align: center;
}

.pricing .pricing-items article [class*="-price"] {
  position: relative;
  margin-bottom: 25px;
}

.pricing .pricing-items article [class*="-price"] .dollar, .pricing .pricing-items article [class*="-price"] .cost, .pricing .pricing-items article [class*="-price"] .per {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.pricing .pricing-items article [class*="-price"] .dollar, .pricing .pricing-items article [class*="-price"] .per {
  font-size: 20px;
  color: #ac9455;
}

.pricing .pricing-items article [class*="-price"] .dollar {
  position: absolute;
  top: 0.5em;
  left: -1em;
}

.pricing .pricing-items article [class*="-price"] .cost {
  font-size: 50px;
}

.pricing .pricing-items article [class*="-link"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 40px 10px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #ac9455;
}

.pricing .pricing-items article [class*="-link"]:hover {
  background-color: #ac9455;
}

.md .pricing .pricing-desc, .xs .pricing .pricing-desc {
  margin-bottom: 50px;
}

.md .pricing .pricing-items article [class*="-img"], .xs .pricing .pricing-items article [class*="-img"] {
  height: 252px;
  margin-bottom: 15px;
}

.md .pricing .pricing-items article [class*="-img"] img, .xs .pricing .pricing-items article [class*="-img"] img {
  max-width: 200px;
}

.xs .pricing .pricing-items {
  flex-direction: column;
}

.xs .pricing .pricing-items article {
  flex: initial;
}

.xs .pricing .pricing-items article [class*="-img"] {
  height: auto;
}

.xs .pricing .pricing-items article [class*="-img"] img {
  max-width: 257px;
}

.xs .pricing .pricing-items article [class*="-desc"] {
  padding: 0;
  margin-bottom: 20px;
}

.xs .pricing .pricing-items article [class*="-link"] {
  margin-bottom: 20px;
}

.about-us {
  overflow: hidden;
}

.about-us .about-us-title {
  margin-bottom: 10px;
}

.about-us .about-us-desc {
  position: relative;
  margin-bottom: 65px;
}

.about-us .about-us-desc::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 65px;
  border-top: 1px solid #ac9455;
}

.about-us .social-items {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  margin-bottom: 300px;
}

.about-us .social-items [class*="item-"] {
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
  margin-right: 30px;
}

.about-us .social-items [class*="item-"] .img-wrapper {
  margin-top: 8px;
  width: 28px;
  height: auto;
}

.about-us .social-items [class*="item-"] .img-wrapper img {
  width: 100%;
}

.about-us .social-items [class*="item-"] .figure-wrapper {
  margin-left: 5px;
}

.about-us .social-items [class*="item-"] .figure-wrapper .count {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 33px;
}

.about-us .social-items [class*="item-"] .figure-wrapper .unit {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #a3a3a3;
}

.about-us .insta-items {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}

.about-us .insta-items img {
  vertical-align: bottom;
}

.about-us .insta-items .insta-follow {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: #191919;
}

.about-us .insta-items .insta-follow .insta-title {
  margin-bottom: 15px;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
}

.about-us .insta-items .insta-follow .insta-logo :first-child {
  margin-bottom: 10px;
}

.about-us .insta-items .insta-follow .insta-desc {
  margin: 15px 15px 25px;
  font-size: 12px;
  text-align: center;
}

.about-us .insta-items .insta-follow .insta-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 40px 10px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #ac9455;
  background-color: #101010;
}

.about-us .insta-items .insta-follow .insta-link:hover {
  background-color: #ac9455;
}

.xs .about-us {
  padding-bottom: 0;
}

.xs .about-us .social-items {
  margin-bottom: 15px;
}

.xs .about-us .social-items [class*="item-"] {
  flex: 1 0 30%;
  margin-bottom: 20px;
}

.xs .about-us .social-items [class*="item-"] .figure-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.xs .about-us .social-items [class*="item-"] .figure-wrapper .unit {
  align-self: flex-end;
  margin-left: 5px;
  margin-bottom: 5px;
}

.xs .about-us .social-items [class*="item-"] .figure-wrapper .unit br {
  display: none;
}

.xs .about-us .insta-items {
  position: static;
  flex-wrap: wrap;
}

.xs .about-us .insta-items .insta-item02, .xs .about-us .insta-items .insta-item03 {
  width: 50%;
}

.xs .about-us .insta-items .insta-item02 img, .xs .about-us .insta-items .insta-item03 img {
  width: 100%;
}

.xs .about-us .insta-items .insta-item01, .xs .about-us .insta-items .insta-item04, .xs .about-us .insta-items .insta-item05, .xs .about-us .insta-items .insta-item06 {
  display: none;
}

.xs .about-us .insta-items .insta-follow {
  order: 10;
  width: 100%;
  height: 252px;
}

.subscribe {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  background: #141414;
  color: #fff;
}

.subscribe .subscribe-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.subscribe .subscribe-form .subscribe-desc {
  margin-bottom: 35px;
  font-family: "Playfair Display", serif;
  font-size: 17px;
  color: #ac9455;
  letter-spacing: 0.2em;
  text-transform: lowercase;
}

.subscribe .subscribe-form .subscribe-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 40px 10px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #ac9455;
  background-color: #101010;
}

.subscribe .subscribe-form .subscribe-link:hover {
  background-color: #ac9455;
}

.subscribe .subscribe-form form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.subscribe .subscribe-form form [class*="sub-"] {
  flex: 1 0 30%;
  position: relative;
}

.subscribe .subscribe-form form [class*="sub-"]:nth-child(1) {
  padding-right: 15px;
}

.subscribe .subscribe-form form [class*="sub-"]:nth-child(2) {
  padding-left: 15px;
  padding-right: 15px;
}

.subscribe .subscribe-form form [class*="sub-"]:nth-child(3) {
  padding-left: 15px;
}

.subscribe .subscribe-form form [class*="sub-"] label {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #515151;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscribe .subscribe-form form [class*="sub-"] label::after {
  content: ' ●';
  color: #ac9455;
}

.subscribe .subscribe-form form [class*="sub-"] .ngInput {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  padding: 10px 40px 10px;
  color: #a3a3a3;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #212121;
  background-color: #212121;
}

.subscribe .subscribe-form form [class*="sub-"] .ngInput:focus {
  border: 2px solid #ac9455;
  background-color: #fff;
  outline: none;
}

.subscribe .subscribe-form form [class*="sub-"] .valid-msg {
  position: absolute;
  bottom: 0;
  left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #ef5151;
}

.subscribe .subscribe-form form [class*="sub-"] .ng-touched.ng-invalid {
  border: 2px solid #ef5151;
}

.xs .subscribe .subscribe-img img {
  width: 100%;
}

.xs .subscribe .subscribe-form form [class*="sub-"] {
  flex: 1 0 100%;
  padding: 0;
}

.contacts .contacts-title {
  margin-bottom: 10px;
}

.contacts .contacts-desc {
  position: relative;
  margin-bottom: 65px;
}

.contacts .contacts-desc::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 65px;
  border-top: 1px solid #ac9455;
}

.contacts .contacts-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.contacts .contacts-form .contacts-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 40px 10px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #ac9455;
  color: #141414;
}

.contacts .contacts-form .contacts-link:hover {
  background-color: #ac9455;
}

.contacts .contacts-form .contacts-link:hover {
  color: #fff;
}

.contacts .contacts-form form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.contacts .contacts-form form [class*="contacts-"] {
  flex: 1 0 50%;
  position: relative;
}

.contacts .contacts-form form [class*="contacts-"]:nth-child(1) {
  padding-right: 15px;
}

.contacts .contacts-form form [class*="contacts-"]:nth-child(2) {
  padding-left: 15px;
}

.contacts .contacts-form form [class*="contacts-"] label {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #515151;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts .contacts-form form [class*="contacts-"] label:not(.msg)::after {
  content: ' ●';
  color: #ac9455;
}

.contacts .contacts-form form [class*="contacts-"] .ngInput {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  padding: 10px 40px 10px;
  color: #a3a3a3;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid #efefef;
  background-color: #efefef;
}

.contacts .contacts-form form [class*="contacts-"] .ngInput:focus {
  border: 2px solid #ac9455;
  background-color: #fff;
  outline: none;
}

.contacts .contacts-form form [class*="contacts-"] .ngInput.msg {
  width: 100%;
}

.contacts .contacts-form form [class*="contacts-"] textarea {
  padding: 5px;
  width: 100%;
  height: 120px;
  border: 2px solid #efefef;
  border-radius: 10px;
  background: #efefef;
}

.contacts .contacts-form form [class*="contacts-"] .valid-msg:not(.msg) {
  position: absolute;
  bottom: 0;
  left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #ef5151;
}

.contacts .contacts-form form [class*="contacts-"] .ng-touched.ng-invalid:not(.msg) {
  border: 2px solid #ef5151;
}

.map, .gmap_canvas {
  height: 225px;
  width: 100%;
  overflow: hidden;
  background: #ae9758;
}

.contacts-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.contacts-info .office-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.contacts-info .office-info .phone-number, .contacts-info .office-info .office-address, .contacts-info .office-info .mail-address {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 30px;
  padding: 5px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.contacts-info .office-info .phone-number .icon, .contacts-info .office-info .office-address .icon, .contacts-info .office-info .mail-address .icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 18px;
  height: auto;
}

.contacts-info .office-info .phone-number img {
  width: 18px;
  height: 18px;
}

.contacts-info .office-info .office-address img {
  width: 8px;
  height: 18px;
}

.contacts-info .office-info .mail-address img {
  width: 18px;
  height: 13px;
}

.contacts-info .social-info {
  padding: 20px 0;
}

.contacts-info .social-info a img {
  margin-left: 25px;
  width: auto;
  max-height: 15px;
}

.xs .contacts .contacts-desc, .md .contacts .contacts-desc {
  padding-right: 30px;
  padding-left: 30px;
}

.xs .contacts .contacts-info span, .md .contacts .contacts-info span {
  font-size: 13px;
}

.xs .contacts .contacts-form, .md .contacts .contacts-form {
  padding: 30px;
  width: 100%;
}

.xs .contacts .contacts-form form [class*="contacts-"], .md .contacts .contacts-form form [class*="contacts-"] {
  flex: 1 0 100%;
  padding: 0;
}

.xs .contacts-info {
  padding: 30px 20px;
  flex-direction: column;
  align-items: flex-start;
}

.xs .contacts-info .office-info {
  flex-direction: column;
  align-items: flex-start;
}

.xs .contacts-info .social-info :first-child img {
  margin-left: 0;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #141414;
}

footer .footer-title {
  font-size: 10px;
  color: #B3B3B3;
}

.xs footer .footer-title, .md footer .footer-title {
  font-size: 10px;
}

/*# sourceMappingURL=../css/maps/style.css.map */
