<!DOCTYPE html>
<html lang="ko-KR" class="no-js">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <title>Landing Page</title>
  <% include partials/style.ejs %>
</head>
<body>
  <% include partials/gnb_nav.ejs %>
  <% include partials/side_nav.ejs %>
  <% include partials/pages.ejs %>

<% include partials/script.ejs %>
</body>
</html>