.testimonials, .features, .projects, .pricing, .about-us, .contacts
  position: relative

.testimonials, .features, .projects, .pricing, .about-us, .contacts, .home
  display: flex
  justify-content: center
  align-items: center
  min-height: 90vh
  width: 100%
  font-size: 40px
  color: #fff
  text-transform: uppercase

.home
  min-height: 100vh
  background: #3666E1

.testimonials
  background: #66CCFF

.features
  background: #FFCC66

.projects
  background: #CC66FF

.pricing
  background: #FF6666

.about-us
  background: #6666FF

.contacts
  background: #FF8000

