.testimonials, .features, .projects, .pricing, .about-us, .contacts
  position: relative

.testimonials, .features, .projects, .pricing, .about-us, .contacts, .home
  +flex-align-center(both, row wrap)
  min-height: 90vh
  width: 100%
  font-size: 40px
  color: #fff

.home
  padding-top: 125px
  min-height: 100vh
  background: $black

.testimonials
  flex-flow: column
  background: #fff
  color: #000

.features
  background: #FFCC66

.projects
  background: #CC66FF

.pricing
  background: #FF6666

.about-us
  background: #6666FF

.contacts
  background: #FF8000

